<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body onload="refreshTime()">
  <div class="container-scroller d-flex">
    <!-- partial:./partials/_sidebar.html -->
    <%- include('./partials/sidebar') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:./partials/_navbar.html -->
      <%- include('./partials/navbar') %>
    <!-- Modal Content -->
      <%- include('./partials/modals') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
           <!-- row end -->
           <%- include('./partials/cards') %>
          <!-- row end -->
          <div class="row">
            <%- include('./partials/alert') %>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h3><center><b>Welcome to the AFK Portal</b></center></h3>
                <hr>
                <p><b><center>Stay idle to earn coins.</center></b></p>
                 <hr>
                 <div id="afk_main">
                  <p><b><center>Every <%= special.everywhat %> seconds, you will get <%= special.gaincoins %> coins.</center></b></p>
                  <p><b><center>You will gain <%= special.gaincoins %> coins <span id="afk_again"></span>in <span id="afk_timer"><%= special.everywhat %></span> seconds.</center></b></p>
                  <p><b><center>You have gained <span id="afk_gainedcoins">0</span> coins currently.</center></b></p>
                </div>
              
                <div id="afk_disconnected">
                  <p><b><center>An error has occured and you have been disconnected from the AFK page.</center></b></p>
                  <p><b><center>To resolve this error, you must reload the page.</center></b></p>
                  <p><b><center>Error: <span id="afk_error"></span></center></b></p>
                  <p id="afk_reconnectattempt"></p>
                </div>
            
                <%- special.src %>
                  </div>
                </div>
                </div>
        <!-- content-wrapper ends -->
        <!-- partial:./partials/_footer.html -->
        <%- include('./partials/footer') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <%- include('./partials/scripts') %>
</body>

</html>